__pycache__/auto_complete.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/HandlerClipboard.cpython-310.pyc
__pycache__/main_support_service.cpython-310.pyc
__pycache__/MatrixAgree_main.cpython-310.pyc
__pycache__/ShortProgram_LongConstant.cpython-310.pyc
__pycache__/wss_auto_complete.cpython-310.pyc
__pycache__/wss_command_list.cpython-310.pyc
__pycache__/wss_global_hotkey.cpython-310.pyc
__pycache__/wss_helper.cpython-310.pyc
__pycache__/wss_main_helper.cpython-310.pyc
__pycache__/wss_main_support_service.cpython-310.pyc
__pycache__/wss_webservice_controller.cpython-310.pyc
.vscode/settings.json
config/_command_list.py
config/config.py
config/config.yaml
config/__pycache__/_command_list.cpython-310.pyc
config/__pycache__/config.cpython-310.pyc
program/AccessSolution/__pycache__/ShortProgram_LongConstant.cpython-310.pyc
program/CA_Update_Status/log/Log_full.log
program/CA_Update_Status/log/Log.log
program/Selenium_apps/__pycache__/pathlib.cpython-310.pyc
services/__pycache__/__init__.cpython-310.pyc
services/__pycache__/wss_webservice_controller.cpython-310.pyc
services/__pycache__/wss_webservices_controller_zeep.cpython-310.pyc
services/__pycache__/xml_soap.cpython-310.pyc
.pylintrc
